<div class="ui-select-container ui-select-multiple ui-select-fc" ng-class="{open: $select.open}">
  <div>
    <div class="ui-select-match"></div>
    <input 
      ng-hide="$select.disabled"
      type="text"
      autocomplete="off" 
      autocorrect="off" 
      autocapitalize="off" 
      spellcheck="false" 
      class="ui-select-search"
      ng-disabled="$select.disabled"
      ng-click="$select.activate()"
      role="combobox"
      aria-label="{{ $select.baseTitle }}"
      ondrop="return false;">
  </div>
  <div ng-show="$select.items.length" dropdown-menu class="dropdown-wrapper">
    <input 
      ng-show="$select.searchEnabled"
      ng-if="!$select.inline"
      type="text"
      autocomplete="off" 
      autocorrect="off" 
      autocapitalize="off" 
      spellcheck="false" 
      class="ui-select-search-box"
      ng-disabled="$select.disabled"
      ng-click="$select.activate()"
      ng-model="$select.search"
      role="combobox"
      aria-label="{{ $select.baseTitle }}"
      ondrop="return false;">
    <span ng-show="$select.searchEnabled" icon="search" class="icon-search"></span>
    <div class="ui-select-choices"></div>
  </div>
</div>
